@font-face {
  font-family: "AlmoniNeue";
  src: local("AlmoniNeue/300"), url("AlmoniNeue/300.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlmoniNeueBold";
  src: local("AlmoniNeueBold/700"),
    url("AlmoniNeueBold/700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlmoniTzar";
  src: local("AlmoniTzar/400"), url("AlmoniTzar/400.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
